.body 
{ 
    background-color: aquamarine;
}
.container {
    text-align: center;
    margin-top: 30px;
    background-color: blue;
}
h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: black;
    font-weight: 500px;
    text-align: center;
  }
  h2 {
    font-size: 25px;
    margin-bottom: 20px;
    color: rgb(230, 227, 73);
    font-weight: 350px;
    text-align: center;
    background-size: contain;
    background-color: beige;
  }
.choices{
    margin-top: 30px;
}

.result {
    font-size: 15px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    color: red;
    font-weight: bolder;
  }

button {
    font-size: 16px;
    padding: 10px;
    margin: 0 10px;
    background-color: #9a9c1c;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
.img{
    display: flex;
    align-items: center;
}

button:hover {
    background-color: #0069d9;
  }
